<!DOCTYPE html>
<!-- HTML5 -->
<html lang="en-US" dir="ltr">
  <!-- Head element -->
  {% include "components/head.njk" %}
  <!-- begin body -->
  <body class="grid-layout">

    {% include "components/nav.njk" %}

  <!-- page content -->
  {{ content | safe }}
  
  <!-- FOOTER -->
  <footer id="footer">
    <small id="attribute">© Axelrad {{ utils.currentYear() }}. All rights reserved.</small>
  </footer>

  <!-- capture the JS content as a Nunjucks variable -->
  {% set js %}
    {% include "../../static/scripts/main.js" %}
  {% endset %}
  <!-- feed it through our jsmin filter to minify -->
  <script type="module">
    {{ js | jsmin | safe }}
  </script>

  <!-- End Body -->
  </body>
</html>