/* Responsive Layout - Tablet */
@media screen and (max-width: 750px) {
  body,
  section {
    display: block;
    font-size: 16px;
  }
  section {
    margin: 1rem 0.5rem;
  }
  main {
    padding: 0.15rem 0;
  }

  h2 {
    padding-block-end: 1rem;
  }

  article {
    width: 100%;
    margin: 1rem auto;
  }

  .grid-col2-thumb {
    display: block;
  }

  .thumbnail {
    max-width: 100%;
    margin: 1rem auto 0.5rem auto;
  }

  .card {
    padding: 1rem;
  }

  .section-header {
    padding-left: 0.75rem;
  }

  .intro {
    top: 4rem;
    left: 1rem;
  }

  .plant {
    width: 90vw;
    right: 0%;
    top: 80%;
  }

  #header {
    margin-block-start: 6rem;
    display: block;
    padding: 1rem;
  }

  main a[href] {
    text-decoration: underline var(--theme);
  }

  nav {
    display: block;
    padding: 1rem;
  }
  svg#menuSvg {
    width: 1.5rem;
    height: 1.5rem;
  }
  a#topBtn {
    display: none;
  }
  .nav_link {
    margin-block-start: 2rem;
  }

  .nav_link a {
    display: block;
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
  }

  .btn_menu {
    display: block;
    float: right;
    padding: 0 1rem;
    max-height: 1.5rem;
  }

  .closed {
    visibility: hidden;
    display: none;
  }

  .open {
    visibility: visible;
    display: block;
  }

  .schemeBtn {
    display: none;
  }

  .badge {
    position: inherit;
    margin: 0;
    float: right;
  }

  section.timeline {
    padding: 1rem 0;
    gap: 2rem;
    border-left: none;
    overflow-x: hidden;
  }
  main.project {
    padding: 1rem;
  }
}
