/* import other css files */
/* use for dev only, concatenate & minify for dist */
@import 'normalize.css';
@import 'layout.css';
@import 'type.css';
@import 'forms.css';
@import 'mobile.css';
@import 'print.css';

/* define vars for root elements*/
:root {
  /* font-families */
  --ff: 'Nunito', Roboto, Helvetica, sans-serif;
  /* font-size */
  --fs-body: 17px;
  --fs-h6: 15px;
  --fs-h5: 16px;
  --fs-h4: 19px;
  --fs-h3: 24px;
  --fs-h2: 32px;
  --fs-h1: 56px;
  /* font-weights */
  --fw-l: 300;
  --fw-r: 400;
  --fw-b: 700;
  /* letter-spacing */
  --ls-s: 2px;
  --ls-m: 3px;
  --ls-l: 5px;
  /* line-height */
  --lh-s: 1.1;
  --lh-m: 1.3;
  --lh-l: 1.6;
  /* hsl values */
  --hue: 205;
  --sat: 50%;
  --light: 60%;
  /* brand & theme colors - #66aacc */
  --clr-theme: hsl(var(--hue), var(--sat), var(--light));
  --clr-comp: hsl(calc(var(--hue) - 180), var(--sat), var(--light));
  --clr-dark: hsl(var(--hue), var(--sat), 23%);
  --clr-darkish: hsl(var(--hue), var(--sat), 28%);
  --clr-gray: hsl(var(--hue), var(--sat), 78%);
  --clr-light: hsl(var(--hue), var(--sat), 89%);
  --clr-lighter: hsl(var(--hue), var(--sat), 95%);
  --clr-opaque: hsla(0, 0%, var(--gray), 0.1);
  /* shadows & borders */
  --radius: 3px;
  --border: 1px solid var(--clr-theme);
  --shadow: 0px 0px 20px 4px var(--clr-opaque);
  --width: 680px;
}

/* day & night mode */
@media (prefers-color-scheme: dark) {
  :root {
    --clr-dark: hsl(var(--hue), 20%, 90%);
    --clr-darkish: hsl(var(--hue), 20%, 84%);
    --clr-gray: hsl(var(--hue), 20%, 72%);
    --clr-light: hsl(var(--hue), 30%, 15%);
    --clr-lighter: hsl(var(--hue), 30%, 18%);
    --clr-opaque: hsla(0, 0%, var(--gray), 0.1);
  }
  img {
    filter: brightness(0.9);
  }
}

/* day & night mode */
.scheme-dark {
  --clr-dark: hsl(var(--hue), 20%, 93%);
  --clr-darkish: hsl(var(--hue), 20%, 86%);
  --clr-gray: hsl(var(--hue), 20%, 72%);
  --clr-light: hsl(var(--hue), 30%, 15%);
  --clr-lighter: hsl(var(--hue), 30%, 18%);
  --clr-opaque: hsla(0, 0%, var(--gray), 0.1);
}

.scheme-light {
  --clr-theme: hsl(var(--hue), var(--sat), var(--light));
  --clr-dark: hsl(var(--hue), var(--sat), 23%);
  --clr-darkish: hsl(var(--hue), var(--sat), 28%);
  --clr-gray: hsl(var(--hue), var(--sat), 78%);
  --clr-light: hsl(var(--hue), var(--sat), 89%);
  --clr-lighter: hsl(var(--hue), var(--sat), 95%);
  --clr-opaque: hsla(0, 0%, var(--gray), 0.1);
}

body {
  transition: 0.4s ease-in-out;
}

img {
  filter: brightness(1);
}

/* BW background colors */
.bg-dark {
  background-color: var(--clr-dark);
}

.bg-light {
  background-color: var(--clr-light);
}

.bg-lighter {
  background-color: var(--clr-lighter);
}

/* Text Color Classes */
.dark {
  color: var(--clr-dark);
}

.darkish {
  color: var(--clr-darkish);
}

.gray {
  color: var(--clr-gray);
}

.light {
  color: var(--clr-light);
}

.lighter {
  color: var(--clr-lighter);
}

.theme {
  color: var(--clr-theme);
}

/* other styling classes */
.shadow {
  box-shadow: var(--shadow);
}

.radius {
  border-radius: var(--radius);
}

.border {
  border: var(--border);
}

/* padding & margin */
.pad-1 {
  padding: 1rem;
}

/* show / no shows */
.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* main theme classes */
.block {
  margin: 0.5rem 0;
  padding: 0.25rem 0.75rem;
  border-inline-start: 0.25rem solid var(--clr-opaque);
  color: currentColor;
}

/* svg logo / tint icon */
.logo {
  fill: var(--clr-theme);
  display: inline-block;
  vertical-align: bottom;
  height: 1.25rem;
  margin-inline-end: 0.5rem;
}

.icon {
  fill: var(--clr-theme);
  display: inline-block;
  vertical-align: baseline;
  width: 1rem;
  height: 1rem;
  transform: translateY(2px);
  margin-inline-end: 0.15rem;
}
/* Plant svg layer colors */
.layer-0 {  font-weight: var(--fw-l);
  fill: var(--clr-lighter);
}

.layer-1 {
  fill: var(--clr-light);
}

.layer-2 {
  fill: var(--clr-theme);
}
/* external link style */
a {
  text-decoration: none;
}
a[rel='noreferrer'] {
  text-decoration: solid underline var(--clr-theme);
}

a[rel='noreferrer']:hover {
  color: var(--clr-theme);
}

a[href^="http://"]::after,
a[href^="https://"]::after,
a[rel='noreferrer']::after {
  content: '\2197';
  font-size: small;
  text-decoration: none;
}

.nav-home {
  justify-self: start;
  font-size: 1.25rem;
  line-height: 0.75;
  font-weight: var(--fw-b);
  letter-spacing: var(--ls-m);
  vertical-align: bottom;
}

.nav_link {
  letter-spacing: var(--ls-m);
}

.nav_link a {
  padding-inline-end: 1rem;
}

.active,
.nav_link a:hover {
  color: var(--clr-theme);
  cursor: pointer;
}

/* Buttons and Link/Btn Styles */
.btn {
  padding: 0.5rem 1rem;
}

.btn:hover {
  cursor: pointer;
}

*:focus {
  outline: none;
  color: var(--clr-theme);
}
/* Animation Classes */
.comeIn {
  animation: comeIn 0.7s ease forwards;
}

.comeIn:nth-child(even) {
  animation: comeIn 0.9s ease forwards;
}

/* Keyframe Animations */
@keyframes comeIn {
  from {
    transform: translateY(25px);
  }

  to {
    transform: translateY(0px);
  }
}

@media (prefers-reduced-motion: reduce) {
  article {
    will-change: auto;
  }

  .comeIn {
    animation: none;
  }

  .comeIn:nth-child(even) {
    animation: none;
  }
}
