/* Responsive Layout - Tablet */
@media screen and (max-width: 750px) {
  body,
  section {
    display: block;
  }

  h2 {
    padding-block-end: 1rem;
  }

  article {
    margin: 1rem 0.5rem;
  }

  .intro {
    top: 4rem;
    left: 1rem;
  }

  .plant {
    width: 90vw;
    right: 0%;
    top: 80%;
  }

  #header {
    padding-block-end: 2rem;
  }

  main a[href] {
    text-decoration: underline var(--theme);
  }

  nav {
    display: block;
    padding: 1rem;
  }
  svg#menuSvg {
    width: 1.5rem;
    height: 1.5rem;
  }
  a#topBtn {
    display: none;
  }
  .nav_link {
    margin-block-start: 2rem;
  }

  .nav_link a {
    display: block;
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
  }

  .btn_menu {
    display: block;
    float: right;
    padding: 0 1rem;
  }

  .closed {
    visibility: hidden;
    display: none;
  }

  .open {
    visibility: visible;
    display: block;
  }

  .schemeBtn {
    display: none;
  }
}
