---
title: Home
layout: layouts/base.njk
permalink: index.html
---

{% include "components/header.njk" %}

  <!-- Main page body -->
  <main id="main">
  <!-- Scroll to top link / button -->
      <a
        href="#"
        id="topBtn"
        class="btn btn_top circle"
        aria-label="scroll to top"
        tabindex="-1"
      >
        <svg
          viewBox="0 0 24 24"
          role="img"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="./static/images/defs.svg#chevron-up"></use>
        </svg>
        <small class="visually-hidden">Top</small>
      </a>

    <!-- page content -->
<!-- Section 2: 2 grid column with card style asides -->
<section id="timeline" class="timeline">
  {% for event in timeline | sort(false, true, 'dateFrom') | reverse %}
    {% include "components/card.njk" %}
  {% endfor %}
</section>

<!-- Section 3: contact -->
<section id="contact">
  <!-- contact info and time tag -->
  <div class="pad-1">
  <h2>Contact</h2>
    <p>
      Please feel free to reach out to me with any questions or inquiries.
    </p>
    {% include "components/contactForm.njk"%}
  </div>
</section>

  <!-- End of MAIN -->
  </main>
