---
title: Notes
layout: layouts/base.njk
permalink: /notes/index.html
stylesheet: project
eleventyExcludeFromCollections: true
---
<main id="main">
<section>
<h1>{{ title }}</h1>
<a href="/projects">&larr; Back to projects</a>
<ol class="projects" reversed >
{% for project in collections.notes %}
  {% include "components/project.njk"%}
{% endfor %}
</ol>
</section>
</main>