---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /projects/tags/{{ tag }}/
layout: layouts/base.njk
stylesheet: project
---
<main id="main">
  <section>
    <h1>Tagged “{{ tag }}”</h1>
    <a href="/projects">&larr; Back to projects</a>
    <ol>
    {% set taglist = collections[ tag ] %}
    {% for project in taglist | reverse %}
      {% include "components/project.njk"%}
    {% endfor %}
    </ol>
  </section>
</main>