/* import other css files */
/* use for dev only, concatenate & minify for dist */
@import 'normalize.css';
@import 'project.css';
@import 'type.css';
@import 'forms.css';
@import 'mobile.css';
@import 'print.css';

/* define vars for root elements*/
:root {
  /* font-families */
  --ff-sans: 'Nunito', system-ui, Roboto, Helvetica, sans-serif;
  --ff-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  /* hsl values */
  --hue: 205;
  --sat: 50%;
  --light: 60%;
  /* brand & theme colors - #66aacc */
  --clr-theme: hsl(var(--hue), var(--sat), var(--light));
  --clr-comp: hsl(calc(var(--hue) - 180), var(--sat), var(--light));
  --clr-dark: hsl(var(--hue), var(--sat), 23%);
  --clr-darkish: hsl(var(--hue), var(--sat), 28%);
  --clr-gray: hsl(var(--hue), var(--sat), 78%);
  --clr-light: hsl(var(--hue), var(--sat), 90%);
  --clr-lighter: hsl(var(--hue), var(--sat), 95%);
  --clr-opaque: hsla(var(--hue), 30%, 50%, 0.1);
  /* shadows & borders */
  --radius: 3px;
  --border: 1px solid var(--clr-theme);
  --shadow: 0px 0px 1rem 4px var(--clr-opaque);
  --width: 60ch;
}

/* day & night mode */
@media (prefers-color-scheme: dark) {
  :root {
    --clr-dark: hsl(var(--hue), 20%, 90%);
    --clr-darkish: hsl(var(--hue), 20%, 84%);
    --clr-gray: hsl(var(--hue), 20%, 72%);
    --clr-light: hsl(var(--hue), 30%, 15%);
    --clr-lighter: hsl(var(--hue), 30%, 18%);
    --clr-opaque: hsla(var(--hue), 30%, 50%, 0.1);
  }
  img {
    filter: brightness(0.9);
  }
}

/* day & night mode */
.scheme-dark {
  --clr-dark: hsl(var(--hue), 20%, 93%);
  --clr-darkish: hsl(var(--hue), 20%, 86%);
  --clr-gray: hsl(var(--hue), 20%, 72%);
  --clr-light: hsl(var(--hue), 30%, 15%);
  --clr-lighter: hsl(var(--hue), 30%, 18%);
  --clr-opaque: hsla(0, 0%, var(--gray), 0.1);
}

.scheme-light {
  --clr-theme: hsl(var(--hue), var(--sat), var(--light));
  --clr-dark: hsl(var(--hue), var(--sat), 23%);
  --clr-darkish: hsl(var(--hue), var(--sat), 28%);
  --clr-gray: hsl(var(--hue), var(--sat), 78%);
  --clr-light: hsl(var(--hue), var(--sat), 89%);
  --clr-lighter: hsl(var(--hue), var(--sat), 95%);
  --clr-opaque: hsla(0, 0%, var(--gray), 0.1);
}

body {
  color: var(--clr-dark);
  background: var(--clr-light);
  font-size: 18px;
  font-family: var(--ff-sans);
  line-height: 1.5;
  transition: 0.4s ease-in-out;
}

body.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
  min-height: 100vh;
}

section {
  display: grid;
  gap: 2rem;
  justify-content: center;
  scroll-margin-top: 3rem;
  padding: 3rem 0;
}

article {
  width: var(--width);
  will-change: transform;
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  filter: brightness(1);
}

figcaption {
  color: var(--clr-darkish);
  text-align: center;
  font-size: small;
}

/* main content layout*/
header.landing-page {
  display: grid;
  grid-template-columns: min(50%, 45ch) min(50%, 450px);
  grid-template-rows: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.thumbnail {
  border: 1px solid var(--clr-opaque);
  border-radius: var(--radius);
  justify-self: end;
  max-width: 114px;
}

.card {
  padding: 1rem;
  border: 1px solid var(--clr-opaque);
  background: var(--clr-lighter);
  border-radius: var(--radius);
  transition: 0.2s ease-out;
}

.card:hover {
  cursor: pointer;
  filter: brightness(1.01);
  box-shadow: var(--shadow);
}

/* grid layout with one column  */
.grid-col1 {
  max-width: var(--width);
  display: grid;
  gap: 0rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: start;
}

/* grid layout with two uneven columns  */
.grid-col2 {
  max-width: var(--width);
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: center;
}

/* grid layout with two uneven columns  */
.grid-col2-thumb {
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: 3fr 1fr;
  margin-block-end: 1rem;
}

.btn_menu {
  display: none;
}

.btn_top {
  position: fixed;
  text-align: center;
  line-height: 1;
  bottom: 1rem;
  right: 1rem;
  z-index: 900;
}

.sticky {
  position: sticky;
  will-change: transform;
  top: 0;
  z-index: 1000;
}

.fixed {
  position: fixed;
  will-change: transform;
  top: 0;
  z-index: 1000;
}
/* show / no shows */
.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* svg logo / tint icon */
.logo {
  fill: var(--clr-theme);
  display: inline-block;
  vertical-align: bottom;
  height: 1.25rem;
  margin-inline-end: 0.5rem;
}

.icon {
  fill: var(--clr-theme);
  color: var(--clr-theme);
  display: inline-block;
  vertical-align: baseline;
  width: 1rem;
  height: 1rem;
  margin-inline-end: 0.15rem;
}
/* Plant svg layer colors */
.layer-0 {
  fill: var(--clr-lighter);
}

.layer-1 {
  fill: var(--clr-light);
}

.layer-2 {
  fill: var(--clr-theme);
}
/* external link style */
button a,
nav a {
  color: currentColor;
  text-decoration: none;
}

a,
a[href^="http://"],
a[href^="https://"],
a[rel='noreferrer'] {
  text-decoration: solid underline var(--clr-theme);
}

a:hover,
a[href^="http://"]:hover ,
a[href^="https://"]:hover ,
a[rel='noreferrer']:hover {
  color: var(--clr-theme);
}

a[href^="http://"]::after,
a[href^="https://"]::after,
a[rel='noreferrer']::after {
  content: '\2197';
  font-size: small;
  text-decoration: none;
}

/* navigation layouts */
nav {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: end;
  padding: 1rem 3rem;
  width: 100%;
  background: var(--clr-lighter);
}

.nav-home {
  justify-self: start;
  font-size: 1.25rem;
  line-height: 0.75;
  font-weight: bolder;
  letter-spacing: 2px;
  vertical-align: bottom;
}

.nav_link {
  letter-spacing: 2px;
}

.nav_link a {
  padding-inline-end: 1rem;
}

.active,
.nav_link a:hover {
  color: var(--clr-theme);
  cursor: pointer;
}

/* Buttons and Link/Btn Styles */
.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: var(--clr-lighter);
  border-radius: var(--radius);
}

.btn:hover {
  cursor: pointer;
  filter: brightness(1.01);
}

*:focus {
  outline: none;
  color: var(--clr-theme);
}
/* Animation Classes */
.comeIn {
  animation: comeIn 0.7s ease forwards;
}

.comeIn:nth-child(even) {
  animation: comeIn 0.9s ease forwards;
}

/* Keyframe Animations */
@keyframes comeIn {
  from {
    transform: translateY(25px);
  }

  to {
    transform: translateY(0px);
  }
}

@media (prefers-reduced-motion: reduce) {
  article {
    will-change: auto;
  }

  .comeIn {
    animation: none;
  }

  .comeIn:nth-child(even) {
    animation: none;
  }
}
