/* heading font properties */
.title {
  font-size: 3rem;
}

.section-header {
  color: var(--clr-darkish);
  font-size: 2rem;
  text-transform: lowercase;
  text-align: center;
  font-weight: lighter;
  font-family: monospace;
}

h1 {
  font-size: 2rem;
}

h3 {
  margin-block-end: 0.5rem;
}

header h4 {
  margin-block-end: 0.25rem;
  color: var(--clr-darkish);
  font-size: 1.15rem;
  font-weight: lighter;
  line-height: 1.05; 
}

p {
  margin: 1rem 0;
}

/* lists and details */
ol,
ul {
  display: inline-block;
  width: 100%;
  padding: 0 1rem;
  margin-block-end: 1rem;
}

li {
  list-style-position: inside;
}

li.project {
  list-style: none;
}