---
title: Home
layout: layouts/base.njk
permalink: index.html
---

{% include "components/header.njk" %}

  <!-- Main page body -->
  <main id="main">
  <!-- Scroll to top link / button -->
      <a
        href="#"
        id="topBtn"
        class="btn btn_top radius"
        aria-label="scroll to top"
        tabindex="-1"
      >
        <svg
          viewBox="0 0 24 24"
          class="icon"
          role="img"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="/images/defs.svg#chevron-up"></use>
        </svg>
        <br />
        <small>Top</small>
      </a>

    <!-- page content -->
<!-- Section 2: 2 grid column with card style asides -->
<section id="experience">
  <h2 class="section-header">Experience</h2>

  {% for exp in collections.experience | sort(false, true, 'dateTo') %}
    {% include "components/exp.njk" %}
  {% endfor %}

</section>

<!-- Section 3: long article with button -->
<section id="education">
  <h2 class="section-header">Education</h2>

  {% for edu in collections.education | sort(false, true, 'dateTo') %}
    {% include "components/edu.njk" %}
  {% endfor %}

</section>

<!-- Section 3: contact -->
<section id="contact">
  <!-- contact info and time tag -->
  <div class="pad-1">
  <h2>Contact</h2>
    <p>
      Please feel free to reach out to me with any questions or inquiries.
    </p>
    {% include "components/contactForm.njk"%}
  </div>
</section>

  <!-- End of MAIN -->
  </main>
