html {
  scroll-behavior: smooth;
}

canvas {
  z-index: -1;
  display: block;
  cursor: grab;
  outline: none;
}

canvas:active {
  cursor: grabbing;
}

img {
  display: block;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
