<article class="card">
<span class="badge">
  <svg
      viewBox="0 0 {% if event.type == "education" %} 640 {% else %} 512 {% endif %} 512"
      class="icon theme"
      role="img"
      aria-hidden="true"
      focusable="false"
    >
      <use xlink:href="static/images/defs.svg#{{event.type}}"></use>
  </svg>
</span>
  <div class="grid-col2-thumb">
    <header>
      <h3>{{event.subtitle}}</h3>
      <h4><span class="icon theme">@</span> {{ event.title }}</h4>
      <h4>
        <svg
          viewBox="0 0 24 24"
          class="icon theme"
          role="img"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="static/images/defs.svg#marker"></use>
        </svg>
        {{event.location}}
      </h4>
      <h4>
        <svg
          viewBox="0 0 24 24"
          class="icon theme"
          role="img"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="static/images/defs.svg#calendar"></use>
        </svg>
        <time datetime="{{event.dateFrom}}">{{event.dateFrom | readableDate }}</time> -
        {% if event.dateTo %}
        <time datetime="{{event.dateTo}}">{{event.dateTo | readableDate }}</time>
        {% else %}
        <time>Present</time>
        {% endif %}
      </h4>
    </header>
    <img
      src="static/{{event.image}}"
      alt="{{ event.title}}"
      loading="lazy"
      class="thumbnail"
      width="114"
      height="114"
    />
  </div>

  {{- event.description | safe -}}
  
</article>