<form name="contact" method="POST" data-netlify="true">
  <label for="email">Email</label>
  <input
    id="email"
    type="email"
    name="email"
    placeholder="your@email.com"
    required
  />
  <label for="message">Message</label>
  <textarea
    id="message"
    name="message"
    placeholder="Hello world"
  ></textarea>
  <input
    type="submit"
    name="submit"
    aria-label="undefined"
    class="btn radius border"
  />
</form>