
<article class="card">
  <div class="grid-col2-thumb">
    <header>
      <h3>{{exp.data.position}}</h3>
      <h4><span class="icon">@</span> {{ exp.data.title }}</h4>
      <h4>
        <svg
          viewBox="0 0 24 24"
          class="icon"
          role="img"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="/images/defs.svg#marker"></use>
        </svg>
        {{exp.data.location}}
      </h4>
      <h4>
        <svg
          viewBox="0 0 24 24"
          class="icon"
          role="img"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="/images/defs.svg#calendar"></use>
        </svg>
        <time datetime="{{exp.data.dateFrom}}">{{exp.data.dateFrom | readableDate }}</time> -
        <time datetime="{{exp.data.dateTo}}">{{exp.data.dateTo | readableDate }}</time>
      </h4>
    </header>
    <img
      src="{{exp.data.image}}"
      alt="{{ exp.data.title}}"
      loading="lazy"
      class="thumbnail"
      width="114"
      height="114"
    />
  </div>

  {{- exp.templateContent | safe -}}
  
</article>