<!-- Fulls screen Navbar links -->
    <nav id="nav" class="glass fixed">
      <!-- logo, home and menu nav link -->
      <div id="mobile-nav" class="nav-mobile nav-home">
        <svg
          class="logo"
          viewBox="0 0 45 36"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="/images/defs.svg#logo"></use>
        </svg>
        <a href="/" id="link-logo" class="nav_link">itai axelrad</a>
        <!--hamburger menu button -->
        <button id="menuBtn" type="button" class="btn_menu" aria-label="menu">
          <svg
            viewBox="0 0 24 24"
            id="menuSvg"
            focusable="true"
            class="icon"
            role="img"
          >
            <use xlink:href="/images/defs.svg#bars"></use>
          </svg>
        </button>
      </div>
      <!-- section links -->
      <div
        id="mobile-links"
        class="nav_link closed"
        role="navigation"
        aria-expanded="false"
      >
        <a href="#experience" class="btn_link">Experience</a>
        <a href="#education" class="btn_link">Education</a>
        <a href="#contact" class="btn_link">Contact</a>
      </div>
    </nav>