---
title: Projects
layout: layouts/base.njk
permalink: /projects/index.html
eleventyExcludeFromCollections: true
---
<article>
<h1>{{ title }}</h1>

<ol class="projects" reversed >
{% for project in collections.projectSorted %}
  <li class="project">
  {# <img src="{{ project.data.image }}" alt="{{ project.data.title }}"> #}
    <a href="{{ project.url | url }}">{{ project.data.title }}</a><br>
    <time class="dt-published">{{ project.data.date | readableDate }}</time>
    {# <div class="caption">{{- project.templateContent | truncate(140, true, "...") | safe -}}</div> #}
    {# {% for tag in project.data.tags %}
      <span class="tag">{{ tag }}</span>
    {% endfor %} #}
  </li>
{% endfor %}
</ol>
</article>